<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>用户中心-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<link href="{:RES}/css/member.css" rel="stylesheet" type="text/css" />
</head>

<body>
{include file="public:userheader" /}


<div class="user-box">
    <div class="leftBox">
        {include file="public:usermenu" /}
        <input type="hidden" id="userAction" value="u1">
    </div>

    <div class="rightBox">
        <div class="layui-card">
            <div class="layui-card-header">欢迎页</div>
            <div class="layui-card-body">
                <div class="layui-row">
                    <div class="user-face">
                        {empty name="user.headimg"}
                        <img src="{:RES}/image/face.png"/>
                        {else/}
                        <img src="{$user.headimg}"/>
                        {/empty}
                    </div>
                    
                    <div class="user-info">                    
                        <li><label>昵称</label>{$user['nickname']}</li>                        
                        <li><label>会员编号</label>{$user['id']}</li>                        
                        <li><label>返利余额</label>AU$<span>{$fina.money}</span>，上月返利AU$<span>{$lastMonth.money}</span> 约￥<span>{$lastMonth.rmb}</span></li>
                        <li><label>本月返利基金</label>AU$<span>{$fina.fund}</span></li>
                        <li><label>本月预计返利</label>AU$<span>{$jifen.fanli}</span></li>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">我的积分</div>
            <div class="layui-card-body">
                <div class="jindu">                   
                    <div class="hd">
                        <div class="arrowBox" style="margin-left:{$jifen.baifenbi}%">
                            <div class="jifen">积分{$fina.point}</div>
                            <div class="jifenArr"></div>
                        </div>
                    </div>
                    <div class="bd">
                        <div class="line"></div>
                        <div class="number">
                            <li>0</li>
                            <li>3000</li>
                            <li>6000</li>
                            <li>9000</li>
                            <li style="font-size:18px; margin-top:-5px; width:0;">∞</li>
                        </div>
                        <div class="per">
                            <li>5%</li>
                            <li>10%</li>
                            <li>15%</li>
                            <li>20%</li>
                        </div>
                        <div class="dot">
                            <li><span></span></li>
                            <li><span></span></li>
                            <li><span></span></li>
                            <li><span></span></li>                  
                        </div>
                    </div>
                    <div class="fd">再获得{$jifen.next}积分 本月返利比例提高至 {$jifen.nextBar}%</div>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public:footer" /}
</body>
</html>