<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>用户中心-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<style type="text/css">
.qrcode{background: #fff; width: 250px; border: 1px #dbdbdb solid; padding: 20px; margin: auto}
.qrcode img{width: 100%}
.payMoney{text-align: center; padding:15px;}
.payMoney p{ font-size:30px;color: #000}
.payOk{text-align: center; font-size: 40px; padding: 50px 0; color: #5cb85c}
.payOk i{font-size:40px;}
.qrIntr{text-align: center; padding: 15px 0}
.payInfo{text-align: center;}
</style>
</head>

<body>
{include file="public:header" /}

<div class="leftBox">
    {include file="public:usermenu" /}
</div>

<div class="rightBox">
    <div class="guide">
        <a href="/">首页</a> / 会员充值
    </div>
    
    <div style="padding: 10px; padding-top: 0">
        <div class="payMoney">
            <p>${$list.money}</p>
            <span>本次支付金额</span>
        </div>
        <div class="payInfo">

            <div class="qrcode">
                <img src="{:url('order/qrcode')}?url=<?php echo urlencode($url);?>" />                
            </div>

            <div class="qrIntr">
                <img src="{:RES}/image/pay.jpg">
                <p>使用微信或支付宝扫一扫功能，在线付款</p>
                <!-- <p style="padding: 10px; width:100%; box-sizing: border-box;word-break:break-all"><a href="{$url}" target="_blank">{$url}</a></p> -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{:RES}/js/iframe.js"></script>
<script type="text/javascript">
var check = setInterval(checkOrder,2000);
function checkOrder(){
    $.post('{:url("member/checkpay")}',{'order_no':'{$list.order_no}'},function(res){
        if (res.code==1){
            clearInterval(check);
            $(".payInfo").html('<div class="payOk"><i class="layui-icon layui-icon-ok-circle"></i> 支付成功</div><p><a class="layui-btn" href="{:url('member/finance',"type=1")}">充值记录</a></p>');
        }
    },"json")
}
</script>
</body>
</html>