<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>用户中心-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<link href="{:RES}/css/member.css" rel="stylesheet" type="text/css" />
</head>
<body>
{include file="public:userheader" /}

<div class="user-box">
    <div class="leftBox">
        {include file="public:usermenu" /}
        <input type="hidden" id="userAction" value="u10">
    </div>

    <div class="rightBox">
        <div class="layui-card">
            <div class="layui-card-header">投诉建议</div>
            <div class="layui-card-body">
                <p style="margin-bottom: 15px"><a href="{:url("member/write")}" class="layui-btn layui-btn-sm my-btn">提交</a></p>
                {volist name="list" id="vo" empty="$empty"}
                <div class="layui-card my-card">
                    <div class="layui-card-header"><b>{$vo.title}</b> <span style="float: right;">{$vo.createTime|date="Y-m-d H:i:s",###}</span></div>
                    <div class="layui-card-body">
                        {$vo.content}
                        {notempty name="vo.reply"}
                        <p style="color:blue;margin-bottom:0">回复：{$vo.reply}</p>
                        {/notempty}
                    </div>
                </div>
                {/volist}
            </div>
        </div>
    </div>
</div>

{include file="public:footer" /}
</body>
</html>