<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>用户中心-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<link href="{:RES}/css/member.css" rel="stylesheet" type="text/css" />
</head>

<body>
{include file="public:userheader" /}


<div class="user-box">
    <div class="leftBox">
        {include file="public:usermenu" /}
        <input type="hidden" id="userAction" value="u4">
    </div>

    <div class="rightBox">
        <div class="layui-card">
            <div class="layui-card-header">地址管理</div>
            <div class="layui-card-body">
                <script src="{:RES}/js/area.js" type="text/javascript" charset="utf-8"></script>
                <script src="{:RES}/js/province.js" type="text/javascript" charset="utf-8"></script>
                <form class="layui-form" method="post">
                    <div class="layui-form-item">
                        <label class="layui-form-label">收货人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" id="name" value="{$list.name}" lay-verify="required"  placeholder="必填" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号码</label>
                        <div class="layui-input-inline">
                            <input type="number" name="tel" id="tel" value="{$list.tel}" required lay-verify="__mobile" placeholder="必填" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">地区</label>
                        <div class="layui-input-inline">
                            <select name="province" id="provid" lay-filter="provid">
                                <option value="">请选择省</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="city" id="cityid" lay-filter="cityid">
                                <option value="">请选择市</option>
                            </select>
                        </div>
                        <div class="layui-input-inline">
                            <select name="county" id="areaid" lay-filter="areaid">
                                <option value="">请选择县/区</option>
                            </select>
                        </div>
                    </div>
                    <script type="text/javascript">
                    var defaults = {
                        s1: 'provid',
                        s2: 'cityid',
                        s3: 'areaid',
                        v1: '{$list.province}',
                        v2: '{$list.city}',
                        v3: '{$list.county}'
                    };
                    </script>
                    <div class="layui-form-item">
                        <label class="layui-form-label">详细地址</label>
                        <div class="layui-input-block">
                            <input type="text" name="addressDetail" id="addressDetail" value="{$list.addressDetail}" lay-verify="required" placeholder="必填" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">默认</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="def" lay-skin="primary" value="1" {eq name="list.def" value="1"}checked{/eq}/>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">智能填写</label>
                        <div class="layui-input-inline" style="width: 600px;">
                            <input type="text" id="text" placeholder="快速录入格式:收件人，电话，地址自动提取（或空格间隔）" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-inline">
                            <button type="button" id="tBtn" class="layui-btn layui-btn-primary">提取</button>
                        </div>
                    </div>

                    <hr>

                    <div class="layui-form-item">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="sn" value="{$list.sn}" lay-verify="_cardNo" placeholder="选填" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label">身份证</label>
                        <div class="layui-input-block">
                            <div class="sn" onclick="uploadImage('front','{:url('upload/image')}');"><img id="front_src" src="{empty name="list.front"}{:RES}/image/sn1.png{else/}{$list.front}{/empty}" /></div>
                            <div class="sn" onclick="uploadImage('back','{:url('upload/image')}');"><img id="back_src" src="{empty name="list.back"}{:RES}/image/sn2.png{else/}{$list.back}{/empty}" /></div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn my-btn" lay-submit lay-filter="go" url="{:url('address/pub')}">保存</button>
                            <a href="javascript:window.history.go(-1)" class="layui-btn layui-btn-primary">返回</a>
                        </div>                    
                    </div>
                    <input type="hidden" name="front" id="front" value="{$list.front}">
                    <input type="hidden" name="back" id="back" value="{$list.back}">
                    <input type="hidden" name="id" value="{$list.id}">
                </form>             
            </div>
        </div>
    </div>
</div>
<input type="file" id="uploadfile" hidden /> 
<script src="{:RES}/js/upload.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
layui.use('form',function(){    
    var form = layui.form;
    $("#tBtn").click(function(){
        var text = $("#text").val();
        if(text==''){
            layer.alert("请输入需要转换的文字");
            return false;
        }
        $.post('{:url('api/address/textToAddress')}',{token:'{$user.token}',text:text},function(res){
            if(res.code==1){
                $("#name").val(res.body.name);
                $("#tel").val(res.body.mobile);
                $("#provid").val(res.body.province_name);
                $("#cityid").append("<option name='"+res.body.city_name+"'>"+res.body.city_name+"</option>").val(res.body.city_name);
                $("#areaid").append("<option name='"+res.body.county_name+"'>"+res.body.county_name+"</option>").val(res.body.county_name);
                $("#addressDetail").val(res.body.detail);
                form.render();
            }else{
                layer.alert(res.desc);
            }
        },'json');
    })
})
</script>
{include file="public:footer" /}
</body>
</html>