<!--全部商品分类-->
    <i class="layui-icon">&#xe653;</i> 全部商品分类
    <aside style="top:42px; overflow: auto;">
        <ul>
            {volist name="cate" id="vo" key="i"}
            <li class="cates" mt-ct="list0{$i}">
                <h3>{$vo.name}<i class="layui-icon">&#xe602;</i></h3>
            </li>
            {/volist}
        </ul>
    </aside>
    <div>
        {volist name="cate" id="vo" key="k"}
        <div class="import_list b-list0{$k}">
            <dd>
                {volist name="vo.child" id="f"}
                <a href="#">{$f.name}</a>
                {/volist}
            </dd>
        </div>
        {/volist}
    </div>

<!--结束-->