<footer>
	<div class="pc-footer-top">
		<div class="center">
			<ul class="clearfix">
				{volist name="help" id="vo" key="fk"}
				<li {gt name="fk" value="1"}class="lw"{/gt}>
					<span>{$vo.name}</span>
					{volist name="vo.article" id="f"}
                    <a href="{:url('help/index','id='.$f['id'])}" target="_blank">{$f.title}</a>
                    {/volist}
				</li>
				{/volist} 
				
				<li class="lss">
					<span>下载手机版</span>
					<div class="clearfix lss-pa">
						<div class="fl lss-img"><img src="{:RES}/image/code.png" alt=""></div>
						<div class="fl" style="padding-left:20px; float:left;">
							<h4>扫描下载云购APP</h4>
							<p style="font-size:12px; color:#666;">把优惠握在手心</p>
							<p style="font-size:12px; color:#666;">把潮流带在身边</p>
							<p></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="pc-footer-lin">
			<div class="center">
				<p>友情链接：
					{volist name="link" id="vo"}
					<a href="{$vo.url}" target="_blank" style="font-size: 12px">{$vo.name}</a>
					{/volist}
				</p>
				<p>
				
				</p>
				<p style="padding-bottom:30px">Copyright©2019-2020 版权所有 AUMARIA.COM</p>
			</div>
		</div>
	</div>
</footer>

<!--侧边栏-->
<div class="toolbar">
	<a href="{:url('cart/index')}" class="toolbar-item toolbar-item-weixin" style=" position:relative">
		<em id="rightCartNumber">0</em>		
	</a>
	<a href="###" class="toolbar-item toolbar-item-feedback"></a>
	<a href="###" class="toolbar-item toolbar-item-app">
		<span class="toolbar-layer"></span>
	</a>
	<a href="javascript:void(0)" id="toTop" class="toolbar-item toolbar-item-top"></a>
</div>

<!--购物车fly插件-->
<script type="text/javascript">
$(function () {
    //当点击跳转链接后，回到页面顶部位置
    $("#toTop").click(function(){
        $('body,html').animate({scrollTop:0},500);
        return false;
    });

    $.get('{:url('index/cartNumber')}',function(res){
    	$("#topCartNumber").html(res.number);
        $("#rightCartNumber").html(res.number);
    },'json')
});
</script>