<footer>
	<div class="pc-footer-top">
		<div class="center">
			<ul class="clearfix">
				<li>
					<span>关于我们</span>
					<a href="#">关于我们</a>
					<a href="#">诚聘英才</a>
					<a href="#">用户服务协议</a>
					<a href="#">网站服务条款</a>
					<a href="#">联系我们</a>
				</li>
				<li class="lw">
					<span>购物指南</span>
					<a href="#">新手上路</a>
					<a href="#">订单查询</a>
					<a href="#">会员介绍</a>
					<a href="#">网站服务条款</a>
					<a href="#">帮助中心</a>
				</li>
				<li class="lw">
					<span>消费者保障</span>
					<a href="#">人工验货</a>
					<a href="#">退货退款政策</a>
					<a href="#">运费补贴卡</a>
					<a href="#">无忧售后</a>
					<a href="#">先行赔付</a>
				</li>
				<li class="lw">
					<span>商务合作</span>
					<a href="#">人工验货</a>
					<a href="#">退货退款政策</a>
					<a href="#">运费补贴卡</a>
					<a href="#">无忧售后</a>
					<a href="#">先行赔付</a>
				</li>
				<li class="lss">
					<span>下载手机版</span>
					<div class="clearfix lss-pa">
						<div class="fl lss-img"><img src="{:RES}/image/code.png" alt=""></div>
						<div class="fl" style="padding-left:20px; float:left;">
							<h4>扫描下载云购APP</h4>
							<p style="font-size:12px; color:#666;">把优惠握在手心</p>
							<p style="font-size:12px; color:#666;">把潮流带在身边</p>
							<p></p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div class="pc-footer-lin">
			<div class="center">
				<p>友情链接：
					<a href="http://www.a-ui.cn/" target="_blank">AUI素材网</a>
					<a href="https://xihazahuopu.taobao.com/" target="_blank">暿哈杂货铺</a>
					<a href="#">手游交易平台</a>
					<a href="#">法律咨询</a>
					<a href="#">深圳地图</a>
					<a href="#">P2P网贷导航</a>
					<a href="#">名鞋库</a>
					<a href="#">叮当音乐网</a>
					<a href="#">名鞋库</a>
					<a href="#">114票务网</a>
					<a href="#">儿歌视频大全</a>
				</p>
				<p>
					京ICP证1900075号  京ICP备20051110号-5  京公网安备110104734773474323  统一社会信用代码 91113443434371298269B  食品流通许可证SP1101435445645645640352397
				</p>
				<p style="padding-bottom:30px">版物经营许可证 新出发京零字第朝160018号  Copyright©2011-2015 版权所有 ZHE800.COM </p>
			</div>
		</div>
	</div>
</footer>

<!--侧边栏-->
<div class="toolbar">
	<a href="###" class="toolbar-item toolbar-item-weixin" style=" position:relative">
		<em style=" position:absolute; display:block; line-height:20px; font-size:12px; color:#f00; top:-20px; left:0">(0)</em>
		<!--<span class="toolbar-layer"></span>-->
	</a>
	<a href="###" class="toolbar-item toolbar-item-feedback"></a>
	<a href="###" class="toolbar-item toolbar-item-app">
		<span class="toolbar-layer"></span>
	</a>
	<a href="javascript:void(0)" id="toTop" class="toolbar-item toolbar-item-top"></a>
</div>
<!--购物车fly插件-->
<script type="text/javascript">
$(function () {
    //当点击跳转链接后，回到页面顶部位置
    $("#toTop").click(function(){
        $('body,html').animate({scrollTop:0},500);
        return false;
    });
});
</script>