<!--header-->
<div class="topHeader">
	<header>
		<h1 class="logo logo-size">
			<a href="/"><img src="{:RES}/image/logo.jpg"></a>
		</h1>

		<div class="topSearch">
			<form id="searchForm" action="{:url('goods/search')}" method="get">
				<input type="text" name="keyword" id="keyword" placeholder="请输入关键词" required style=" width:610px; height:34px; text-indent:1em; float:left; box-shadow:none">
				<button type="button" id="searchBtn">搜索</button>
			</form>
		</div>
		<script>
		$(function(){
			$("#searchBtn").click(function(){
		        if ($("#keyword").val()!=''){
		            $("#searchForm").submit();
		        }
		    })
		})
		</script>

		<div class="sping_car">
			<a href="{:url('cart/index')}">
			<i class="layui-icon">&#xe698;</i>
			<span class="layui-badge" id="topCartNumber">0</span>
			<em>我的购物车</em>
			</a>
		</div>
	</header>
</div>