<!--header-->
<div class="topHeader">
	<header>
		<h1 class="logo logo-size">
			<a href="/"><img src="{:RES}/image/logo.jpg"></a>
		</h1>

		<div class="topSearch">
			<form>
				<input type="text" placeholder="零食盛宴 满99减50满199减100..." required style=" width:610px; height:34px; text-indent:2em; float:left; box-shadow:none">
				<button type="button">搜索</button>
			</form>
		</div>

		<div class="sping_car">
			<a href="{:url('cart/index')}">
			<i class="layui-icon">&#xe698;</i>
			<span class="layui-badge">6</span>
			<em>我的购物车</em>
			</a>
		</div>
	</header>
</div>