<!--头部-->
<div class="top">
    <section class="seck">
        <div class="register_login">
        </div>
        <div class="vip_center">
            {eq name="user.id" value="0"}
            <a href="{:url('login/wechat')}"><i class="layui-icon layui-icon-login-wechat"></i> 微信登录</a>
            {else/}
            <a href="{:url('member/index')}">您好，{$user.nickname}</a>
            <a href="{:url('member/order')}">我的订单</a>
            {/eq}
            <a href="#">帮助</a>
        </div>
    </section>
</div>
<!--header-->