<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<link href="{:RES}/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
{include file="public:top" /}

{include file="public:header" /}

<!--导航-->
<section class="dao_hang">
	<nav>
		<!--全部商品分类-->
		<div class="important inCate">
        {include file="public:cate" /}
        </div>
        
		{include file="public:nav" /}
	</nav>
</section>

<div class="login-bg">
    <div class="w1200">
        <div class="login-box">
            <form class="layui-form">
                <legend>微信扫码登录</legend>

                
                
            </form>
        </div>
     </div>
</div>
{include file="public:footer" /}
</body>
</html>