<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>用户注册-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<link href="{:RES}/css/login.css" rel="stylesheet" type="text/css" />
</head>
<body>
{include file="public:top" /}

{include file="public:header" /}

<!--导航-->
<section class="dao_hang">
    <nav>
        <!--全部商品分类-->
        <div class="important inCate">
        {include file="public:cate" /}
        </div>
     
        {include file="public:nav" /}
    </nav>
</section>

<div class="login-bg">
    <div class="w1200">
        <div class="login-box" style="margin:auto;">
            <form class="layui-form">
                <legend>新用户注册</legend>
                <div class="layui-form-item">                    
                    <div class="layui-input-inline">
                        <i class="layui-icon layui-icon-cellphone"></i>
                        <input type="number" name="mobile" id="mobile" lay-verify="__mobile" placeholder="请输入手机号" autocomplete="off" class="layui-input">
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <div class="layui-input-inline veri-code">
                        <i class="layui-icon layui-icon-log"></i>
                        <input type="number" name="code" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">     
                        <button type="button" class="layui-btn" id="btnYzm" onclick="getSms()">发送验证码</button>
                    </div>
                </div>

                <div class="layui-form-item">                    
                    <div class="layui-input-inline">
                        <i class="layui-icon layui-icon-password"></i>
                        <input type="password" name="password" id="password" required lay-verify="__password" placeholder="登录密码" autocomplete="off" class="layui-input">      
                    </div>
                </div>

                <div class="layui-form-item">                    
                    <div class="layui-input-inline">
                        <i class="layui-icon layui-icon-password"></i>
                        <input type="password" name="repassword" required lay-verify="__repassword" placeholder="重复密码" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn my-btn" lay-submit lay-filter="go" url="{:url('mobile/login/register')}">注册</button>
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center;">
                    已有账号？<a href="{:url('login/index')}">立即登录</a>
                </div>
            </form>
        </div>
     </div>
</div>

<script>
var wait = 60;

function getSms(){
    var mobile = $("#mobile").val();

    if (mobile==''){
        layer.alert('请输入手机号码');
        return false;
    }

    if (!checkMobile(mobile)) {
        layer.alert('手机号码格式错误');
        return false;
    }

    load = layer.load(0,{shade: [0.7, '#000000']});    
    $.ajax({
        url : '{:url('mobile/login/getsms')}',
        dataType : 'json',
        type : 'post',
        data : {mobile:mobile},
        success : function(r){
            layer.close(load);
            if (r.code=='1'){
                time();
                layer.alert(r.msg, '系统消息');         
            }else{
                layer.alert(r.msg);
            }
        }
    });
}

function time() {
    var o = $("#btnYzm");
    if (wait == 0) {
        o.removeAttr('disabled');
        o.html("获取短信验证码");
        wait = 60;

        var btnYzm = document.getElementById("btnYzm");
        if (btnYzm != undefined) {
            btnYzm.disabled = false;
        }
    } else {
        o.attr("disabled","disabled");
        o.html("(" + wait + ")秒");
        wait--;
        setTimeout(function () {
            time(o)
        },1000)
    }
}
</script>

{include file="public:footer" /}
</body>
</html>