<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>品牌专区-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<link href="{:RES}/css/inside.css" rel="stylesheet" type="text/css" />
</head>
<body>
{include file="public:top" /}

{include file="public:header" /}

<!--导航-->
<section class="dao_hang">
	<nav>
		<!--全部商品分类-->
		<div class="important inCate">
        {include file="public:cate" /}
        </div>
        
		{include file="public:nav" /}
	</nav>
</section>

<div class="main">
	{volist name="list" id="vo"}
	<div class="brand">
		<div class="hd">{$vo.name}</div>
		<div class="bd">
			{volist name="vo.child" id="item"}
			<li><a href="{:url('brand/lists','brandID='.$item['id'])}"><img src="{$item.logo}"/></a></li>
			{/volist}
		</div>
	</div>
	{/volist}
</div>

{include file="public:footer" /}
</body>
</html>