<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{$thisCate.name}-{:config('site.name')}</title>
    <meta name="keywords" content="{:config('site.keyword')}">
    <meta name="description" content="{:config('site.content')}">
    {include file="public:cssjs" /}
    <script type="text/javascript" src="{:RES}/js/ljsGlasses.js"></script>
</head>
<body style="background-color: #fff">
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">基本信息</li>
        <li>商品介绍</li>
        <li>参数规格</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="layui-row">
                <div class="layui-col-md5">
                    <div class="goodsImage">
                        <div style="border:1px #dbdbdb solid">
                            <div id="showbox">
                                {volist name="image" id="vo"}
                                <img src="{$vo.url}" width="{$vo.width}" height="{$vo.height}" />
                                {/volist}
                            </div><!--展示图片盒子-->
                        </div>

                        <div id="showsum"></div><!--展示图片里边-->
                        <p class="showpage">
                            <a href="javascript:void(0);" id="showlast"> < </a>
                            <a href="javascript:void(0);" id="shownext"> > </a>
                        </p>
                    </div>
                </div>

                <div class="layui-col-md7">
                    <div class="goodsInfo" style="z-index:-1">
                        <div class="goodsName">{eq name="list.empty" value="1"}【售罄】{/eq}{$list.name}</div>
                        
                        {notempty name="list.intr"}
                        <div class="intr">{$list.intr}</div>
                        {/notempty}

                        <div class="priceBox">
                            {eq name="user.id" value="0"}
                            <li>
                                <span>价格</span>
                                <p>登录后查看</p>
                            </li>
                            <li>
                                <span>会员价</span>
                                <p>登录后查看</p>
                            </li> 
                            {else/}
                            {empty name="thisSpec"}
                            <li>
                                <span>价格</span>
                                <p class="money" id="goods_price">${$list.price}</p>
                            </li>
                            <li>
                                <span>会员价</span>
                                <p class="money" id="goods_price1">${$list.price1}</p>
                            </li>
                            <input type="hidden" id="goodsNumber" value="{$list.number}">
                            {else/}
                            <li>
                                <span>价格</span>
                                <p class="money" id="goods_price">${$thisSpec.price}</p>
                            </li>
                            <li>
                                <span>会员价</span>
                                <p class="money" id="goods_price1">${$thisSpec.price1}</p>
                            </li>
                            <input type="hidden" id="goodsNumber" value="{$thisSpec.number}">
                            {/empty}
                            {/eq}
                            
                            {gt name="list.max" value="0"}
                            <li>
                                <span>每日限购</span>
                                <p>{$list.max} 件</p>
                            </li>
                            {/gt}
                            <li>
                                <span>参考保质期</span>
                                <p>{$list.endDate}</p>
                            </li>
                            <li>
                                <span>重量</span>
                                <p>{$list.weight} kg</p>
                            </li>
                        </div>    

                        {notempty name="spec"}
                        <div class="shulges" style="padding-top: 0">
                            <div class="choic-sel">               
                                {volist name="spec" id="vo"}     
                                <span onclick="switch_spec(this);" data-id="{$vo.id}" data-price="{$vo.price}" data-price1="{$vo.price1}" data-number="{$vo.number}" {eq name="vo.id" value="$specid"}class="red"{/eq}>
                                {notempty name="vo.wuliu"}【{$vo.wuliu}】包邮 {/notempty}{$vo.name} {gt name="user.id" value="0"} 价格：${$vo.price} 会员价：${$vo.price1}{/gt}
                                </span>        
                                {/volist} 
                            </div>   
                        </div>
                        {/notempty}

                        {notempty name="list.extends"}
                        <div class="shulges" style="padding-top: 0">
                            <div class="choic-sel">               
                                {volist name="list.extends" id="vo"}     
                                <span onclick="switch_extend(this);" data-name="{$vo}">
                                {$vo}
                                </span>        
                                {/volist} 
                            </div>   
                        </div>
                        {/notempty}

                        <!--选择数量-->
                        <div class="plus">
                            <span class="btn" onclick="changeNum(-1);">-</span>
                            <span class="mp_mp">
                                <input type="tel" class="buyNum" id="buyNum" residuenum="{$goods.kucun}" name="goods_num" value="1" min="1" max="{$goods.kucun}" readonly="readonly">
                            </span>
                            <span class="btn" onclick="changeNum(1);">+</span>
                        </div>
                        
                        <div class="selectBtn">
                            {eq name="list.empty" value="1"}
                            <li><button type="button" class="layui-btn layui-btn-disabled">商品已售罄</button></li>
                            {else/}
                                {eq name="user.id" value="0"}
                                <li><button type="button" class="layui-btn layui-btn-danger loginBtn">加入购物车</button></li>
                                {else/}
                                <li><button type="button" class="layui-btn layui-btn-danger" onClick="AjaxAddCart({$list.id});">加入购物车</button></li>
                                {/eq}
                            {/eq}
                        </div> 
                        
                        {notempty name="server"}
                        <div class="serverBox">
                            <div class="hd">贴心服务</div>
                            <div class="bd">巧克力、软糖、胶囊类等易融化的产品，由于运输过程中温度变化导致的变形、粘连等不在理赔范围，所有液体膏体易碎品需加固打包泡泡纸或气柱，物流公司才能理赔。</div>
                            <div class="fd">
                                {volist name="server" id="vo"}
                                <li class="serLi" data-id="{$vo.id}" data-price="{$vo.price}">{$vo.name} ${$vo.price}</li>
                                {/volist}
                            </div>
                        </div>
                        {/notempty}
                    </div> 
                </div>
            </div>
        </div>
        <div class="layui-tab-item">{$list.content|htmlspecialchars_decode=###}</div>
        <div class="layui-tab-item">
            {notempty name="attr"}
            <table class="layui-table">
                <colgroup>
                <col width="150">
                <col>
                </colgroup>
                {volist name="attr" id="vo"}
                <tr>
                    <td>{$vo.attr_name}</td>
                    <td>{$vo.attr_value}</td>
                </tr>
                {/volist}
            </table>
            {/notempty}            
        </div>
    </div>
</div>

<input type="hidden" id="spec_id" name="spec_id" value="{$specid}">
<input type="hidden" id="extends" name="extends" value="">
{empty name="thisSpec"}
<input type="hidden" id="price" value="{$list.price}">
<input type="hidden" id="price1" value="{$list.price1}">
{else/}
<input type="hidden" id="price" value="{$thisSpec.price}">
<input type="hidden" id="price1" value="{$thisSpec.price1}">
{/empty}
<input type="hidden" id="server" value="">
<input type="hidden" id="serverMoney" value="0">
<script>
layui.use('element', function(){
    var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
});
</script>
<script>
$(document).ready(function(){
    if($("#showbox").length>0){
        var showproduct = {
              "boxid":"showbox",
              "sumid":"showsum",
              "boxw":446,//宽度,该版本中请把宽高填写成一样
              "boxh":446,//高度,该版本中请把宽高填写成一样
              "sumw":60,//列表每个宽度,该版本中请把宽高填写成一样
              "sumh":60,//列表每个高度,该版本中请把宽高填写成一样
              "sumi":14,//列表间隔
              "sums":6,//列表显示个数
              "sumsel":"sel",
              "sumborder":1,//列表边框，没有边框填写0，边框在css中修改
              "lastid":"showlast",
              "nextid":"shownext"
          };//参数定义    
        $.ljsGlasses.pcGlasses(showproduct);//方法调用，务必在加载完后执行
    }
});
</script>

<script type="text/javascript" charset="utf-8">
$(function(){ 
    $(".serLi").click(function(){
        if ($(this).hasClass('active')){
            $(this).removeClass('active');        
        }else{
            $(this).addClass('active');
        } 

        val = '';
        money = 0;
        $(".fd li.active").each(function(i){
            if (i==0){
                val = $(this).attr("data-id");
            }else{
                val += ","+$(this).attr("data-id");
            }
            money += parseFloat($(this).attr("data-price"));
        })
        num = parseInt($("#goodsNumber").val());
        serverMoney = money*num;
        $("#server").val(val);
        $("#serverMoney").val(serverMoney.toFixed(2));
        goods_price = parseFloat($("#price").val());
        goods_price1 = parseFloat($("#price1").val());
        $("#goods_price").html("$"+(goods_price+serverMoney).toFixed(2));
        $("#goods_price1").html("$"+(goods_price1+serverMoney).toFixed(2));
    });
})

function AjaxAddCart(){
    var spec_id = $("#spec_id").val();
    var number = $("#buyNum").val();
    var exts = $("#extends").val();
    var goodsID = {$list.id};
    var typeID = {$list.typeID};
    var server = $("#server").val();
    var load = layer.load(0,{shade: [0.7, '#000000']});
    $.get("/www/cart/addcart?goodsID="+goodsID+"&typeID="+typeID+"&spec_id="+spec_id+"&server="+server+"&number="+number+"&exts="+exts+"&temp="+new Date().getTime(),function(res){
        layer.close(load);
        if (res.code==0){
            layer.alert(res.msg);
        }else{
            layer.alert('操作成功');
            parent.$('#cartNumber').show().html(res.msg);
        }
    },'json');
}

//增减数量
function changeNum(type){
    oldNum = parseInt($("#buyNum").val());
    if (type > 0) {
        v = oldNum+1;
    }else if(type="del"){
        v = oldNum-1;
        if (v<1) {
          v=1;
        }    
    }
    $("#buyNum").val(v);    
}

function switch_extend(spec) {
    $(spec).siblings().removeClass('red');
    if ($(spec).hasClass('red')){
        $(spec).removeClass('red');
        $("#extends").val("");
    }else{
        $(spec).addClass('red');
        $("#extends").val($(spec).attr("data-name"));
    }    
}

var old = {$specid};
var oldPrice = {$list.price};
var oldPrice1 = {$list.price1};
var old = {$specid};
{empty name="thisSpec"}
var oldNumber = {$list.number};
{else/}
var oldNumber = {$thisSpec.number};
{/empty}

//切换规格
function switch_spec(spec) {
    serverMoney = parseFloat($("#serverMoney").val());
    $(spec).siblings().removeClass('red');
    $(spec).parent().parent().find('input').removeAttr('checked');
    if ($(spec).hasClass('red')){
        $(spec).removeClass('red');
        $("#spec_id").val(old);
        $("#goods_price").html('$'+(oldPrice+serverMoney).toFixed(2));
        $("#goods_price1").html('$'+(oldPrice1+serverMoney).toFixed(2));
        $("#price").val(oldPrice);
        $("#price1").val(oldPrice1);
        $("#goodsNumber").val(oldNumber);
    }else{
        $(spec).addClass('red');
        price = parseFloat($(spec).attr("data-price"));
        price1 = parseFloat($(spec).attr("data-price1"));
        $("#spec_id").val($(spec).attr("data-id"));
        $("#goods_price").html('$'+(price+serverMoney).toFixed(2));
        $("#goods_price1").html('$'+(price1+serverMoney).toFixed(2));
        $("#price").val(price);
        $("#price1").val(price1);
        $("#goodsNumber").val($(spec).attr("data-number"));
    }    
    //商品价格库存显示
    //initGoodsPrice();
}
</script>
    
</body>
</html>