<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>{$thisCate.name}-{:config('site.name')}</title>
    <meta name="keywords" content="{:config('site.keyword')}">
    <meta name="description" content="{:config('site.content')}">
    {include file="public:cssjs" /}
</head>

<body>
    {include file="public:header" /}
    
    <div class="leftBox">
        <div class="leftLogo"></div>
        <div class="leftCate">
            <div class="bd">
                {volist name="treeMenu" id="vo"}
                <li {eq name="vo.path" value="$path"}class="active"{/eq}>
                {eq name="vo.path" value="$path"}
                <span>-</span>
                {else/}
                <span>+</span>
                {/eq}
                
                {empty name="vo.url"}
                <a href="{:url('store/index','path='.$vo['path'])}">{$vo.name}</a>
                {else/}
                <a href="{$vo.url}" target="_blank">{$vo.name}</a>
                {/empty}
                
                {eq name="vo.hasChild" value="1"}
                <dl {eq name="vo.path" value="$path"}style="display: block"{/eq}>
                {volist name="vo.child" id="f"}
                    {eq name="vo.path" value="$path"}
                    <dd><a href="#p{$f.id}">{$f.name}</a></dd> 
                    {else/}
                    <dd><a href="{:url('store/index','path='.$vo['path'])}#p{$f.id}">{$f.name}</a></dd> 
                    {/eq}               
                {/volist}
                </dl>
                {/eq}

                </li>
                {/volist}
            </div>
        </div>
    </div>
    <script type="text/javascript">
    $(function(){
        $(".leftCate li span").click(function(){
            if ($(this).html()=='+'){
                $(this).html("-");
                $(this).parent().find("dl").show();
            }else{
                $(this).html("+");
                $(this).parent().find("dl").hide();
            }
        })
    })
    </script>
    
    <div class="rightBox">
        <div class="guide">
            <a href="/">首页</a> / {$thisCate.name}
        </div>
    
        {volist name="cate" id="item"}
        <div class="cateName" id="p{$item.id}">
            {$item.name}
            {notempty name="item.brandID"}
            <span>
            <a href="{:url('brand/lists','bid='.$item['brandID'])}">查看全部</a>
            </span>
            {/notempty}
        </div>
        
        <div class="productList">
        {volist name="item.goods" id="vo" empty="$noinfo"}
        <li>
            <div class="product">
                <a href="javascript:void(0)" onclick="openModel('{$vo.url}','商品详情','1100px','80%')">
                <img src="{$vo.picname|getThumb=280,280}" alt="">
                </a>
                <div class="bd">
                    <a href="javascript:void(0)" onclick="openModel('{$vo.url}','商品详情','1100px','80%')">
                    <h1>{$vo.name}</h1>
                    <p class="layui-elip">{$vo.say}</p>
                    </a>
                    {gt name="user.id" value="0"}
                    <div class="price">
                        <p><span>${$vo.price}</span>/会员<span>${$vo.price1}</span></p>          
                    </div>
                    
                    <div class="setNumber {eq name="vo.empty" value="0"}canBuy{/eq}" data-id="{$vo.goodsID}" data-type="{$vo.typeID}" spec-id="{$vo.id}">
                        <span class="set" data-action="dec">-</span>                        
                        <div class="cartIcon">                          
                            <i class="layui-icon layui-icon-cart"></i>
                            <p id="number{$vo.id}">0</p>
                        </div>
                        <span class="set" data-action="inc">+</span>
                    </div>
                    {/gt}
                </div>
                {eq name="vo.empty" value="1"}<div class="sold_out"><img src="{:RES}/image/sold-out.png"></div>{/eq}
                {notempty name="vo.wuliu"}
                <div class="baoyou_tag b_tag{$user.id}"><img src="{:RES}/image/tag1.png"></div>
                {else/}
                {gt name="vo.tag" value="0"}
                <div class="baoyou_tag b_tag{$user.id}"><img src="{:RES}/image/tag{$vo.tag}.png"></div>
                {/gt}
                {/notempty}                
            </div>
        </li>        
        {/volist}
        </div>

        {/volist}

        {volist name="goods" id="vo"}
        <div class="layui-col-xs6 layui-col-sm3 layui-col-md2">
            <div class="product">
                <a href="javascript:void(0)" onclick="openModel('{$vo.url}','商品详情','1100px','80%')">
                <img src="{$vo.picname|getThumb=280,280}" alt="">
                </a>
                <div class="bd">
                    <a href="javascript:void(0)" onclick="openModel('{$vo.url}','商品详情','1100px','80%')">
                    <h1>{$vo.name}</h1>
                    </a>
                    {gt name="user.id" value="0"}
                    <div class="price">
                        <p>价格：<span>${$vo.price}</span></p>
                        <p>会员价：<span>${$vo.price1}</span></p>
                    </div>
                    <div class="setNumber" data-id="{$vo.goodsID}" data-type="{$vo.typeID}" spec-id="{$vo.id}" data-img="{$vo.picname|getThumb=280,280}">
                        <span class="set" data-action="dec">-</span>
                        <span id="number{$vo.id}">0</span>
                        <span class="set" data-action="inc">+</span>
                    </div>
                    {/gt}
                </div>
            </div>
        </div>        
        {/volist}
    </div>

<script type="text/javascript" src="{:RES}/js/iframe.js"></script>
<script type="text/javascript" src="{:RES}/js/cart.js"></script>
</body>
</html>