<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form">
            <div class="layui-tab" style="margin-bottom: 10px">
                <ul class="layui-tab-title">
                    {foreach name="group_list" item="vo" key="k"}
                        <a href="{:url('Setting/index',array('inc_type'=>$k))}"><li {if condition="$k eq 'alipay'"}class="layui-this"{/if}>{$vo}</li></a>
                    {/foreach}
                </ul>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">支付宝帐户</label>
                <div class="layui-input-block">
                    <input type="text" name="ALIPAY_EMAIL" value="{$config.ALIPAY_EMAIL}" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">安全校验码</label>
                <div class="layui-input-block">
                    <input type="text" name="ALIPAY_KEY" value="{$config.ALIPAY_KEY}" class="layui-input">
                </div>
            </div>  

            <div class="layui-form-item">
                <label class="layui-form-label">合作者(Pid)</label>
                <div class="layui-input-block">
                    <input type="text" name="ALIPAY_PARTNER" value="{$config.ALIPAY_PARTNER}" class="layui-input">
                </div>
            </div>
          
            <div class="layui-form-item">
                <label class="layui-form-label">APPID</label>
                <div class="layui-input-block">
                    <input type="text" name="ALIPAY_APPID" value="{$config.ALIPAY_APPID}" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">私钥</label>
                <div class="layui-input-block">
                    <textarea name="ALI_PRI_KEY" class="layui-textarea">{$config.ALI_PRI_KEY}</textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">公钥</label>
                <div class="layui-input-block">
                    <textarea name="ALI_PUB_KEY" class="layui-textarea">{$config.ALI_PUB_KEY}</textarea>
                </div>
            </div>  

            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-submit lay-filter="lay-common-submit"  url="{:url('Setting/insert')}">保存</button>
            </div>
            <input type="hidden" name="inc_type" value="{$inc_type}">
        </form>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index'], function() {    

})
</script>