/*login*/
.login-bg{width: 100%; background: url(../image/load_bg.jpg) no-repeat; background-size: cover; padding: 100px 0; clear: both; overflow: hidden;}
.login-bg .login-box{width: 400px; clear: both; overflow: hidden;border:1px solid #d9dadc; background: #fff;  padding:0 30px; margin: auto;}
.login-bg .login-box legend{font-size: 20px; color: #323232; text-align: center; padding:30px 0;}
.qrcode{width: 300px; text-align: center; margin: auto; margin-bottom: 50px;}
