<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>购物车-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
{include file="public:cssjs" /}
<link href="{:RES}/css/member.css" rel="stylesheet" type="text/css" />
</head>
<style type="text/css">
[v-cloak] {display: none;}
</style>
<body>
{include file="public:userheader" /}
<div class="w1200" style="margin-top: 30px; margin-bottom: 100px;" id="app" v-cloak>

    
    <template v-if="info.length==0">
        <div class="empty"><img src="/application/www/view/common/image/empty.png" /><p>空空如也~</p></div>
    </template>

    <template v-else>
        <div class="layui-card">
            <div class="layui-card-header">商品信息</div>
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col width="50">
                        <col width="100">
                        <col>
                        <col width="100">
                        <col width="110">
                    </colgroup>
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>商品</th>
                            <th style="text-align: center;">单价</th>
                            <th style="text-align: center;">数量</th>
                        </tr> 
                    </thead>

                    <tbody>
                        <tr v-for="(vo,index) in info" :key="vo.id">
                            <td @click="selectItem(index)">                   
                                <div class="radio active" v-if="vo.checked"></div>
                                <div class="radio" v-else=""></div>
                            </td>
                            <td><img :src="vo.picname" style="height: 60px" /></td>
                            <td>
                                {{vo.name}}
                                <p v-if="vo.specID>0" style="font-size: 12px; color: #999">{{vo.spec.key_name}}</div>
                            </td>
                            <td style="text-align: center;">
                                <p style="color: #000;font-weight: bold;">AU${{vo.price}}</p>
                                <p style="text-decoration:line-through; font-size: 12px">AU${{vo.marketPrice}}</p>
                                <p style="font-size: 12px">约 ￥{{vo.rmb}}</p>
                            </td>
                            <td>
                                <div class="numberAction">
                                    <span class="set" @click="setNumber('dec',vo,index)">-</span>
                                    <span>{{vo.number}}</span>
                                    <span class="set" @click="setNumber('inc',vo,index)">+</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="actionBox">
                    <div class="actionLeft">
                        <span><button type="button" class="layui-btn layui-btn-primary" @click="selectAll">全选</button></span>
                        <span><button type="button" class="layui-btn layui-btn-primary" @click="onClickDelete">删除</button></span>
                        <span><button type="button" class="layui-btn layui-btn-primary" @click="onClickFav">移入收藏夹</button></span>                        
                    </div>
                    <div class="actionRight">
                        <span style="padding-right: 20px">
                        合计：AU$<i style="color: #000; font-size: 20px">{{total}}</i>
                        约：￥{{rmb}}
                        </span>
                        <button type="button" class="layui-btn layui-btn-lg my-btn" @click="jiesuan">去结算</button>
                    </div>
                </div>
            </div>
        </div>        
    </template>
</div>
<script src="{:RES}/js/vue.min.js" type="text/javascript" ></script>
<script type="text/javascript">
vm = new Vue({
    el : "#app",
    data : {
        txt : '编辑',            
        info:{},
        total:0.00,
        rmb:0.00,

        skuShow:false,
        goods:[],

        isDel:false,
        checkAll:false
    },
    created : function(){
        this.init();        
    },
    methods: {
        init(){
            var that = this;
            var that = this;            
            that.total = 0.00;
            that.rmb = 0.00;
            that.isDel = false;
            that.checkAll = false;
            let data = {
                token : '{$user.token}'
            };
            $.post('{:url("api/cart/lists")}',data,function(res){
                if (res.code == 1) {               
                    that.info = res.body.cart;
                }else{
                    layer.alert(res.desc,{icon:2});
                }
            },'json')
        },
        selectAll(){
            this.checkAll = !this.checkAll;
            for(var i=0; i<this.info.length; i++){
                this.info[i]['checked'] = this.checkAll;
            }
            this.getPrice();
        },
        onClickDelete() {
            var that = this;            
            var ids = [];
            for(var i=0; i<this.info.length; i++){
                if(this.info[i]['checked']){
                    ids.push(this.info[i]['id']);
                }
            }
            if(ids.length>0){
                let data = {
                    token : '{$user.token}',
                    ids : ids.join(",")
                };
                $.post('{:url("api/cart/del")}',data,function(res){
                    if (res.code == 1) {         
                        var arr = [];
                        for(var i=0; i<that.info.length; i++){
                            if(ids.indexOf(that.info[i]['id'])==-1){
                                that.info[i]['checked'] = false;
                                arr.push(that.info[i]);
                            }
                        }
                        that.info = arr;
                        that.getPrice();          
                    }else{
                        layer.alert(res.desc,{icon:2});
                    }
                },'json');
            }else{
                layer.alert('请选择需要删除的商品',{icon:2});
            }          
        }, 
        onClickFav() {
            var that = this;            
            var ids = [];
            for(var i=0; i<this.info.length; i++){
                if(this.info[i]['checked']){
                    ids.push(this.info[i]['id']);
                }
            }
            if(ids.length>0){
                let data = {
                    token : '{$user.token}',
                    ids : ids.join(",")
                };
                $.post('{:url("api/cart/toFav")}',data,function(res){
                    if (res.code == 1) {        
                        var arr = [];
                        for(var i=0; i<that.info.length; i++){
                            if(ids.indexOf(that.info[i]['id'])==-1){
                                that.info[i]['checked'] = false;
                                arr.push(that.info[i]);
                            }
                        }
                        that.info = arr;
                        if(that.info.length==0){
                            that.txt = '编辑';
                            that.isDel = false;
                        }
                    }else{
                        that.$dialog.alert({title:'错误信息',message:res.desc});
                    }
                },'json');
            }else{
                layer.alert('请选择需要移除的商品',{icon:2});
            }          
        }, 
        selectItem(index){
            this.info[index]['checked'] = !this.info[index]['checked'];
            this.getPrice();
        },
        getPrice(){
            var that = this;            
            var ids = [];
            for(var i=0; i<this.info.length; i++){
                if(this.info[i]['checked']){
                    ids.push(this.info[i]['id']);
                }
            }
            if(ids.length>0){
                let data = {
                    token : '{$user.token}',
                    ids : ids.join(",")
                };  
                $.post('{:url("api/cart/getPrice")}',data,function(res){
                    if (res.code == 1) { 
                        that.rmb = res.body.rmb;
                        that.total = res.body.total;           
                    }else{
                        layer.alert(res.desc,{icon:2});
                    }
                },'json');
            }else{
                that.total = 0.00;
                that.rmb = 0.00;
            }
        },
        setNumber(type,item,index){
            var that = this;        
            if(type=='inc'){
                that.info[index].number++;
            }else{
                if(that.info[index].number<=1){
                    return false;
                }
                that.info[index].number--;
            }
          
            let data = {
                token : '{$user.token}',
                goodsID : item.goodsID,
                specID : item.specID,
                number : 1,
                action : type
            };
            var loadding = layer.load(2);
            $.post('{:url("api/cart/pub")}',data,function(res){
                if (res.code == 1) { 
                    layer.close(loadding); 
                    that.getPrice();         
                }else{
                    layer.alert(res.desc,{icon:2});
                }
            },'json');
        },
        jiesuan(){
            var that = this;            
            var ids = [];
            for(var i=0; i<this.info.length; i++){
                if(this.info[i]['checked']){
                    ids.push(this.info[i]['id']);
                }
            }
            if(ids.length==0){
                layer.alert('请选择需要结算的商品',{icon:2});
            }else{
                window.location.href = "{:url('cart/submit')}?ids="+ids.join(',');
            }
        },
    }
})
</script>

{include file="public:footer" /}
</body>
</html>