<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>用户中心-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
{include file="public:cssjs" /}
<link href="{:RES}/css/member.css" rel="stylesheet" type="text/css" />
</head>

<body>
{include file="public:userheader" /}

<div class="user-box">
    <div class="leftBox">
        {include file="public:usermenu" /}
        <input type="hidden" id="userAction" value="u6">
    </div>

    <div class="rightBox">
        <div class="layui-card">
            <div class="layui-card-header">我的订单</div>
            <div class="layui-card-body">
                <div class="tabMenu">
                    <li <?php if($type==''){echo 'class="active"';}?>><a href="{:url('order/index')}">全部</a></li>
                    <li {eq name="type" value="1"}class="active"{/eq}><a href="{:url('order/index','type=1')}">待付款</a></li>
                    <li {eq name="type" value="2"}class="active"{/eq}><a href="{:url('order/index','type=2')}">待分享</a></li>
                    <li {eq name="type" value="3"}class="active"{/eq}><a href="{:url('order/index','type=3')}">待发货</a></li>
                    <li {eq name="type" value="4"}class="active"{/eq}><a href="{:url('order/index','type=4')}">配货中</a></li>
                    <li {eq name="type" value="5"}class="active"{/eq}><a href="{:url('order/index','type=5')}">已发货</a></li>
                    <li {eq name="type" value="6"}class="active"{/eq}><a href="{:url('order/index','type=6')}">取消订单</a></li>
                </div>   
                
                {volist name="list" id="vo"}
                <div class="orderBox">
                    <div class="hd">
                        <div class="pull-left">
                            <span style="color: #000; font-weight: bold; margin-right:5px">{$vo.createTime|date="Y-m-d H:i:s",###}</span>
                            订单号: {$vo.order_no}

                        </div>
                        <div class="pull-right">     
                            <?php
                            if($vo['endTime']>0 && $vo['status']==0){
                                echo '等待付款';
                            }elseif($vo['isCut']==1 && $vo['endTime']==0){
                                echo '砍价中';
                            }elseif($vo['status']==1){
                                echo '待配货';
                            }elseif($vo['status']==2){
                                echo '配货中';
                            }elseif($vo['status']==3){
                                echo '已发货';
                            }elseif($vo['status']==99){
                                echo '取消订单';
                            }
                            ?>           
                            <?php
                            if($vo['status']==99 || $vo['status']==3){
                            ?>
                            <a href="{:url('Order/hide',array('id'=>$vo['id']))}" onClick="return confirm('确实删除选定的信息？')"><div class="delIcon"><i class="layui-icon layui-icon-delete"></i></div></a>
                            <?php
                            }
                            ?>
                        </div>
                    </div> 
                    <div class="bd">
                        <div class="item">
                            {volist name="vo.goods" id="f"}
                            <div class="goodsDetail">
                                <li><img src="{$f.picname}" /></li>
                                <li style="width: 70%">{$f.name}<p>{$f.spec}</p></li>
                                <li>{$f.number}件</li>
                            </div>
                            {/volist}
                        </div>
                        <div class="price">
                            <p style="font-weight: bold;">AU${$vo.total}</p>
                            {eq name="vo.status" value="0"}
                            <a href="{:url('order/pay','orderID='.$vo['id'])}" style="color: #f00">去支付</a>
                            {/eq}
                        </div>
                        <div class="action">
                            <p><a href="{:url('order/detail',array('id'=>$vo['id']))}">订单详情</a></p>

                            {eq name="vo.upload" value="1"}
                            <p>查看身份证</p>
                            {else/}
                            <p><a href="">上传身份证</a></p>
                            {/eq}

                            <?php if($vo['status']==0){?>
                            <p><a href="{:url('Order/del',array('id'=>$vo['id']))}" onClick="return confirm('确实删除选定的信息？')">删除订单</a></p>
                            <?php } ?>
                        </div>                       
                    </div> 
                </div>
                {/volist}

                
                {$page}
            </div>
        </div>
    </div>
</div>

{include file="public:footer" /}
</body>
</html>