<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
</head>
<body>

<div class="layui-row" style="margin: 5px">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">身份证号码</label>
                    <div class="layui-form-mid">{$list.sn}</div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">照片</label>
                    <div class="layui-input-block">                        
                        <div class="sn"><img id="front_src" src="{empty name="list.front"}{:RES}/image/sn1.png{else/}{$list.front}{/empty}" /></div>
                        <div class="sn"><img id="back_src" src="{empty name="list.back"}{:RES}/image/sn2.png{else/}{$list.back}{/empty}" /></div>            
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>