<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
</head>
<body>

<div class="layui-row" style="margin: 5px">
    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="200">
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
          <th>时间</th>
          <th>位置</th>
          <th>状态</th>
        </tr> 
        </thead>
        <tbody>
            {volist name="list.TrackList" id="vo"}
            <tr>
                <td>{$vo.StatusTime}</td>
                <td>{$vo.Location}</td>
                <td>{$vo.StatusDetail}</td>
            </tr>
            {/volist}
        </tbody>
    </table>
</div>

</body>
</html>