<style type="text/css">
.layui-form-item .layui-form-checkbox[lay-skin=primary] {
    margin-top: 0px;
}
</style>
<div class="layui-card">
    <form class="layui-form layui-card-header layuiadmin-card-header-auto" tableId="lay-common-table">
        <div class="layui-form-item">            
            <div class="layui-input-inline" style="width: 120px">
                <input type="text" name="order_no" placeholder="订单号/快递单号" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: 120px">
                <input type="text" name="goodsName" placeholder="商品名称" class="layui-input">
            </div>
            <div class="layui-input-inline" style="width: 120px">
                <input type="text" name="keyword" placeholder="会员账号/收件人/手机" class="layui-input">
            </div>

            <div class="layui-input-inline" style="width: 100px">
                <select name="type" id="type">
                    <option value="">包裹类型</option>
                    {volist name="type" id="vo"}
                    <option value="{$vo.id}">{$vo.name}</option>
                    {/volist}
                </select>
            </div>  

            <div class="layui-input-inline" style="width: 100px">
                <select name="flag" id="flag">
                    <option value="">状态</option>
                    <option value="1">已导出</option>
                    <option value="0">未导出</option>
                </select>
            </div>

            <div class="layui-input-inline" style="width: 100px">
                <select name="flag" id="flag">
                    <option value="">是否打印</option>
                    <option value="1">已打印</option>
                    <option value="0">未打印</option>
                </select>
            </div>

            <div class="layui-inline">
                <input type="checkbox" name="sign" value="1" title="有签名" lay-skin="primary">
            </div>
            <div class="layui-inline">
                <input type="checkbox" name="image" value="1" title="缺发货图片" lay-skin="primary">
            </div>

            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="tools-btn-search" style="display: block;">
                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
            </div> 
        </div>
    </form>

    <div class="layui-card-body">
        <div style="padding-bottom: 10px;">   
            <button class="layui-btn layui-btn-sm layui-btn-primary tools-btn" data-type="refresh" data-tableId="lay-common-table">刷新</button>            

            <button type="button" class="layui-btn layui-btn-primary layui-btn-sm" function="toExp">导出
            </button>

            <button class="layui-btn layui-btn-sm layui-btn-primary" function="top" topUrl="{:url('baoguo/import')}" topWidth="80%" isMaximize="0" topHeight="80%" topTitle="批量导入">批量导入</button>
            
            <button class="layui-btn layui-btn-warm layui-btn-sm" function="toPrint">批量打印</button>

            <button type="button" class="layui-btn layui-btn-sm" id="imageBtn">
            <i class="layui-icon">&#xe67c;</i> 批量上传图片
            </button>
        </div>

        <table id="lay-common-table" class="lay-common-table" lay-method="post" lay-url="{:url('baoguo/index')}" lay-filter="lay-common-table"></table>
        <div class="fsDatagridCols">
            <p checkbox="true"/>        
            <p field="memberID" title="会员ID" width="100"/>
            <p field="order_no" title="订单号" width="150"/>           
            <p field="kdNo" title="快递单号" width="150"/>
            <p field="payment" title="运费" width="100"/>
            <p field="weight" title="重量" width="100" />     
            <p field="kuaidi" title="快递" width="100" />     
            <p field="eimg" title="面单" width="60" templet="#jietu"/>
            <p title="发货图" width="80" templet="#image"/>
            <p field="print" title="打印" width="100" dict="print"/>
            <p field="name" title="收件人" width="160" templet="#shoujianren"/>
            <p field="sender" title="发件人" width="160"  templet="#fajianren"/>
            <p title="状态" width="100" templet="#status"/>
            <p field="snStatus" title="身份证" width="100" dict="snStatus"/>
            <p field="createTime" title="提交日期" width="180"/>
            <p field="type" title="类型" width="80"/>
            <p fixed="right" align="center" toolbar="#barDemo" title="操作" width="80"/>
        </div>

        <script type="text/html" id="status">
            {{# if(d.status == 0){ }}
            待付款     
            {{# } }}
            {{# if(d.status == 1){ }}
            <span style="color:gold">待配货</span>       
            {{# } }}
            {{# if(d.status == 2){ }}
            <span style="color:blue">配货中</span>        
            {{# } }}
            {{# if(d.status == 3){ }}
            <span style="color:green">已发货</span>     
            {{# } }}
            {{# if(d.status == 99){ }}
            <span style="color:red">交易关闭</span>        
            {{# } }}                
        </script>

        <script type="text/html" id="barDemo">        
            <a class="layui-btn layui-btn-xs" lay-event="edit" url="{:url('order/info')}?id={{d.id}}" topWidth="80%" topHeight="80%" topTitle="订单详情" data-tableId="lay-common-table">详情</a>
        </script>
    </div>
</div>
<script>
layui.config({
    base: '{:RES}/' //静态资源所在路径
}).extend({
    index: 'lib/index' //主入口模块
}).use(['index','laydate'],function(){
    var form = layui.form,
        laydate = layui.laydate,
        $ = layui.$;

    laydate.render({
        elem: '#createDate',
        range: true
    });
});
</script>