<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>会员中心-{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
</head>

<body>
{include file="public:header" /}

<div class="leftBox">
    {include file="public:usermenu" /}
</div>

<div class="rightBox">
    <div class="guide">
        <a href="/">首页</a> / 我的订单
    </div>

    <div style="padding: 10px; padding-top: 0">
        <div class="layui-row">
            <div class="layui-col-md4">
                <div class="tabMenu">
                    <li <?php if($payStatus==''){echo 'class="active"';}?>><a href="{:url('order/index','day='.$day)}">全部</a></li>
                    <li {eq name="payStatus" value="0"}class="active"{/eq}><a href="{:url('order/index','payStatus=0&day='.$day)}">待付款</a></li>
                    <li {eq name="payStatus" value="1"}class="active"{/eq}><a href="{:url('order/index','payStatus=1&day='.$day)}">配货中</a></li>
                    <li {eq name="payStatus" value="2"}class="active"{/eq}><a href="{:url('order/index','payStatus=2&day='.$day)}">已发货</a></li>
                </div>
            </div>

            <div class="layui-col-md8">
                <div class="tabMenu">
                    <li {eq name="day" value="now"}class="active"{/eq}><a href="{:url('order/index','payStatus='.$payStatus.'&day=now')}">本月</a></li>
                    <li {eq name="day" value="up"}class="active"{/eq}><a href="{:url('order/index','payStatus='.$payStatus.'&day=up')}">上月</a></li>
                    <li><a href="{:url('order/index','payStatus=1')}">自定义</a></li>
                </div>
            </div>
        </div>        

        <table class="layui-table">
            <colgroup>
                <col>
                <col width="100">                       
                <col width="120">             
            </colgroup>
            <thead>
            <tr style="background: #fff">
              <th>收件人</th>
              <th>金额</th>
              <th>订单操作</th>
            </tr> 
            </thead>            
        </table>

        {volist name="list" id="vo" empty="$empty"}
        <div class="layui-card">
            <div class="layui-card-header" style="color: #999; font-size: 12px;">
            订单号：<span class="money">{$vo.order_no}</span>
            <?php
            if($vo['payType']!=1 && $vo['upload']==0){
            ?>
            <span class="layui-badge">未上传身份证，请点击订单详情上传</span>
            <?php
            }else{
            ?>
            <span class="layui-badge layui-bg-green">已上传身份证</span>
            <?php
            }
            ?>
            <span style="float: right;font-size: 12px">{$vo.createTime|date="Y-m-d H:i:s",###}</span>
            </div>
            <div class="layui-card-body">
                <table class="layui-table">
                    <colgroup>
                        <col>   
                        <col width="100">                       
                        <col width="100">                       
                    </colgroup>
                    <tr>
                        <td>
                            {eq name="vo.payType" value="1"}
                            店铺自提
                            {else/}
                            {$vo.person}
                            {/eq}
                        </td>
                        <td>
                            <p class="money text-center">${$vo.money}</p>
                            {gt name="vo.payType" value="1"}
                            {eq name="vo.payStatus" value="0"}<p class="text-center"><a href="{:url('order/pay','order_no='.$vo['order_no'])}" class="layui-btn layui-btn-danger layui-btn-xs">去支付</a></p>{/eq}
                            {/gt} 
                        </td>
                        <td class="actd">        
                            <p class="text-center"><a href="{:url('order/detail',array('id'=>$vo['id']))}" class="layui-btn layui-btn-primary layui-btn-xs layui-btn-fluid">订单详情</a></p>
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>            
        {/volist}

        {$page}
    </div>
</div>

<script type="text/javascript" src="{:RES}/js/iframe.js"></script>
</body>
</html>