<link rel="stylesheet" type="text/css" href="{:RES}/mui/css/mui.min.css" />
<link rel="stylesheet" type="text/css" href="{:RES}/mui/css/loading.min.css" />
<link rel="stylesheet" type="text/css" href="{:RES}/fonts/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{:RES}/css/reset.css" />
<link rel="stylesheet" type="text/css" href="{:RES}/css/app.css?v=1.03" />

<script src="{:RES}/js/jquery.min.js"></script>
<script type="text/javascript" src="{:RES}/mui/js/mui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{:RES}/mui/plugin/loading.js"></script>
<script type="text/javascript" src="{:RES}/mui/plugin/form.js?v=1.01"></script>
<script src="{:RES}/js/common.js" type="text/javascript" charset="utf-8"></script>