<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<link href="{:RES}/css/index.css" rel="stylesheet" type="text/css" />
<script src="{:RES}/js/jquery.fly.min.js"></script>
</head>
<body>
{include file="public:top" /}
{include file="public:header" /}

<!--导航-->
<section class="dao_hang">
	<nav>
		<!--右下侧广告-->
		<div class="advertisement" style="top:42px;">
			<h4>最新公告</h4>
			<div class="notice_new">
				<p>
					<a href="#">来部红色手机，颜值亮爆朋友圈</a>
				</p>
				<p>
					<a href="#">荣耀V10高配版 6GB+64GB 魅丽红 移动联通电信4G手机</a>
				</p>
				<p>
					<a href="#">真正香饽饽，时髦的全面屏手机大团战</a>
				</p>
				<p>
					<a href="#">女生新宠vivo X20梦幻粉，八大配色随你选</a>
				</p>
				<p>
					<a href="#">除了低价，我们还能给你更多专业的购机指导</a>
				</p>
				<p>
					<a href="#">给你三千元，你可以买到什么配置的手机？</a>
				</p>
				<p>
					<a href="#">作为游戏爱好者，怎么能少一款游戏笔记本呢？</a>
				</p>
			</div>
			<a href="#">
				<div class="notice_img">
					<img src="{:RES}/image/activity.jpg" class="img1">
					<img src="{:RES}/image/activity.jpg" class="img2">
				</div>
			</a>
		</div>

		<div class="important indexCate">
		{include file="public:cate" /}
		</div>

		{include file="public:nav" /}
	</nav>
</section>

<!--banner-->
<div id="banner_tabs" class="flexslider">
	<ul class="slides">
		<li>
			<a title="" target="_blank" href="#">
				<img width="1920" height="500" alt="" style="background:#e1211e url({:RES}/image/ba1.jpg) no-repeat center;" src="{:RES}/image/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img width="1920" height="500" alt="" style="background:#900 url({:RES}/image/ba2.jpg) no-repeat center;" src="{:RES}/image/alpha.png">
			</a>
		</li>
		<li>
			<a title="" target="_blank" href="#">
				<img width="1920" height="500" alt="" style="background:#e1211e url({:RES}/image/ba1.jpg) no-repeat center;" src="{:RES}/image/alpha.png">
			</a>
		</li>
		<li>
			<a title="" href="#">
				<img width="1920" height="500" alt="" style="background:#900 url({:RES}/image/ba2.jpg) no-repeat center;" src="{:RES}/image/alpha.png">
			</a>
		</li>
	</ul>
	<ul class="flex-direction-nav">
		<li>
			<a class="flex-prev" href="javascript:;">Previous</a>
		</li>
		<li>
			<a class="flex-next" href="javascript:;">Next</a>
		</li>
	</ul>
	<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
		<li class="active">
			<a>1</a>
		</li>
		<li>
			<a>2</a>
		</li>
		<li>
			<a>2</a>
		</li>
		<li>
			<a>2</a>
		</li>
	</ol>
</div>
<script src="{:RES}/js/slider.js"></script>
<!--广告-->
<script type="text/javascript">
$(function() {
    var bannerSlider = new Slider($('#banner_tabs'),{
        time: 5000,
        delay: 400,
        event: 'hover',
        auto: true,
        mode: 'fade',
        controller: $('#bannerCtrl'),
        activeControllerCls: 'active'
    });
    $('#banner_tabs .flex-prev').click(function() {
        bannerSlider.prev()
    });
    $('#banner_tabs .flex-next').click(function() {
        bannerSlider.next()
    });

    $(".advertisement").animate({'top':'42','opacity':'1'},200)
    $(".flexslider").animate({'margin-top':'0'},200)
    $("aside").animate({'top':'42','opacity':'1'},200)
})
</script>

<!--楼层分布图-->
<div class="fixed_position">
	<div class="fixed_position_1">
		<ul>
			<li>大聚惠</li>
			<li>限时抢购</li>
			<li>婴儿奶粉</li>
			<li>孕妈专区</li>
			<li>中老年区</li>
			<li>本周特价</li>
			<li>推荐商品</li>
		</ul>
	</div>
</div>

<!--大聚惠-->
<span class="as blessing_package pick-back-a">
    <a href="#">
        <h3 class="pick-back1">大聚惠</h3>
    </a>
</span>
<div class="three_fb">
	<ul>
		<li>
			<light><img src="{:RES}/image/saoguang1.png"></light>
			<a href="liebiao_page.html">
				<img src="{:RES}/image/1.jpg">
			</a>
		</li>
		<li>
			<light>
				<img src="{:RES}/image/saoguang1.png">
			</light>
			<a href="liebiao_page.html">
				<img src="{:RES}/image/3.jpg">
			</a>
		</li>
		<li>
			<light>
				<img src="{:RES}/image/saoguang1.png">
			</light>
			<a href="liebiao_page.html">
				<img src="{:RES}/image/2.jpg">
			</a>
		</li>
	</ul>
</div>

<!--应季商品-->
<span class="as blessing_package pick-back-b">
    <a href="#" style=" color:#000">
        <h3 style="float:left" class="pick-back2">限时抢购</h3>
    </a>
    <div class="detailed_navigation">
        <ul>
            
        </ul>
    </div>
</span>

<div>
	<div class="currency f-1-lt01">
		<ul>
			{volist name="flash" id="vo"}
			<li>
				<a href="{:url('goods/detail','id='.$vo['goodsID'])}"><img src="{$vo.picname}"></a>
				<light1><img src="{:RES}/image/saoguang.png"></light1>
				<div class="price">
					<span>${$vo.price}</span>
					<b style="text-decoration: line-through">${$vo.marketPrice}</b>
					<b>约￥{$vo.rmb}</b>
				</div>
				<a href="{:url('goods/detail','id='.$vo['goodsID'])}"><p>{$vo.name}</p></a>
				<em>
					<a href="javascript:void(0)" class="add_fav" data-id="{$vo.goodsID}" data-url="{:url('goods/fav')}">收藏</a>
					<a href="javascript:void(0)" class="add_cart" data-id="{$vo.goodsID}" data-url="{:url('goods/addCart')}">加入购物车</a>
				</em>
			</li>
			{/volist}
		</ul>
	</div>
</div>

<!--母婴专区-->
<span class="as blessing_package pick-back-c">
    <a href="#" style=" color:#000">
        <h3 style="float:left" class="pick-back3">婴儿奶粉</h3>
    </a>
    <div class="detailed_navigation">
        <ul>
        	{volist name="naifen" id="vo" key="k"}
            <li class="dog {eq name="k" value="1"}yadi{/eq}" dg-floor="2" dg-ct="lt0{$k}">{$vo.name}</li>
            {/volist}
        </ul>
    </div>
</span>

<div>
	{volist name="naifen" id="item" key="j"}
	<div class="currency f-2-lt0{$j}" {gt name="j" value="1"}style="display:none"{/gt}>
		<ul>
			{volist name="item.goods" id="vo"}
			<li>
				<a href="{:url('goods/detail','id='.$vo['id'])}"><img src="{$vo.picname}"></a>
				<light1><img src="{:RES}/image/saoguang.png"></light1>
				<div class="price">
					<span>${$vo.price}</span>
					<b style="text-decoration: line-through">${$vo.marketPrice}</b>
					<b>约￥{$vo.rmb}</b>
				</div>
				<a href="{:url('goods/detail','id='.$vo['id'])}">
					<p>{$vo.name}</p>
					<div class="say">{$vo.say}</div>
				</a>
				<div class="tag">
					<span class="layui-badge">推荐</span>
				</div>				
				<em>
					<a href="javascript:void(0)" class="add_fav" data-id="{$vo.id}" data-url="{:url('goods/fav')}">收藏</a>
					<a href="javascript:void(0)" class="add_cart" data-id="{$vo.id}" data-url="{:url('goods/addCart')}">加入购物车</a>
				</em>
			</li>
			{/volist}
		</ul>
	</div>
	{/volist}
</div>

<!--推荐商品-->
<div class="as kongzhianniu">
	<div class="lunbobanner">
		<ul class="lunboimg">
			{volist name="slide" id="item"}
			<li>
				{volist name="item" id="vo"}
				<a href="{:url('goods/detail','id='.$vo['id'])}">
					<b><img src="{$vo.picname}"></b>
					<span>${$vo.price}</span>
					<p>{$vo.name}</p>
				</a>
				{/volist}
			</li>
			{/volist}
		</ul>
	</div>
	<div class="btnl"><i class="layui-icon layui-icon-left"></i></div>
	<div class="btnr"><i class="layui-icon layui-icon-right"></i></div>
	<h4 class="guanfangremai">推荐商品</h4>
</div>
{include file="public:footer" /}
</body>
</html>