<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>{:config('site.name')}</title>
<meta name="keywords" content="{:config('site.keyword')}">
<meta name="description" content="{:config('site.content')}">
{include file="public:cssjs" /}
<link href="{:RES}/css/index.css" rel="stylesheet" type="text/css" />
<script src="{:RES}/js/jquery.fly.min.js"></script>
</head>
<body>
{include file="public:top" /}
{include file="public:header" /}

<!--导航-->
<section class="dao_hang">
	<nav>
		<!--右下侧广告-->
		<div class="advertisement" style="top:42px;">
			<h4>最新公告<a href="{:url('index/notice')}">更多</a></h4>
			<div class="notice_new">
				{volist name="notice" id="vo"}
				<p><a href="javascript:void(0)" data-url="{:url('index/view','id='.$vo['id'])}" title="{$vo.title}">{$vo.title}</a></p>
				{/volist}
			</div>
			<script>
			$(function(){
				$(".notice_new a").click(function(){
					var url = $(this).attr("data-url");
					var title = $(this).attr("title");
			        layer.open({
			            type: 2,
			            title: title,
			            shadeClose: true,
			            shade: 0.8,
			            area: ['700px', '80%'],
			            content: url
			        }); 
				})
			})
			</script>
			{volist name="ad1" id="vo"}
			<a href="{$vo.url}" target="_blank">
				<div class="notice_img">
					<img src="{$vo.picname}" class="img1">
					<img src="{$vo.picname}" class="img2">
				</div>
			</a>
			{/volist}
		</div>

		<div class="important indexCate">
		{include file="public:cate" /}
		</div>

		{include file="public:nav" /}
	</nav>
</section>

<!--banner-->
<div id="banner_tabs" class="flexslider">
	<ul class="slides">
		{volist name="banner" id="vo"}
		<li>
			<a title="" target="_blank" href="{$vo.url}">
				<img style="background:url({$vo.picname}) no-repeat center; background-size: cover;">
			</a>
		</li>
		{/volist}
	</ul>
	<ul class="flex-direction-nav">
		<li>
			<a class="flex-prev" href="javascript:;">Previous</a>
		</li>
		<li>
			<a class="flex-next" href="javascript:;">Next</a>
		</li>
	</ul>
	<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
		{volist name="banner" id="vo" key="adk"}
		<li {eq name="adk" value="1"}class="active"{/eq}>
			<a>{$adk}</a>
		</li>
		{/volist}
	</ol>
</div>
<script src="{:RES}/js/slider.js"></script>
<!--广告-->
<script type="text/javascript">
$(function() {
    var bannerSlider = new Slider($('#banner_tabs'),{
        time: 5000,
        delay: 400,
        event: 'hover',
        auto: true,
        mode: 'fade',
        controller: $('#bannerCtrl'),
        activeControllerCls: 'active'
    });
    $('#banner_tabs .flex-prev').click(function() {
        bannerSlider.prev()
    });
    $('#banner_tabs .flex-next').click(function() {
        bannerSlider.next()
    });

    $(".advertisement").animate({'top':'42','opacity':'1'},200)
    $(".flexslider").animate({'margin-top':'0'},200)
    $("aside").animate({'top':'42','opacity':'1'},200)
})
</script>

<!--楼层分布图-->
<div class="fixed_position">
	<div class="fixed_position_1">
		<ul>
			<li>大聚惠</li>
			<li>限时抢购</li>
			<li>婴儿奶粉</li>
			<li>孕妈专区</li>
			<li>中老年区</li>
			<li>本周特价</li>
			<li>推荐商品</li>
		</ul>
	</div>
</div>

<!--大聚惠-->
<span class="as blessing_package pick-back-a">
    <a href="#">
        <h3 class="pick-back1">大聚惠</h3>
    </a>
</span>
<div class="three_fb">
	<ul>
		{volist name="ad2" id="vo"}
		<li>			
			<a href="{$vo.url}">
				<light><img src="{:RES}/image/saoguang1.png"></light>
				<img src="{$vo.picname}">
			</a>
		</li>
		{/volist}
	</ul>
</div>

<!--限时抢购-->
<span class="as blessing_package pick-back-b">
    <a href="#" style=" color:#000">
        <h3 style="float:left" class="pick-back2">限时抢购</h3>
    </a>
    <div class="detailed_navigation">
        <ul>
            
        </ul>
    </div>
</span>

<div>
	<div class="currency f-1-lt01">
		<ul>
			{volist name="flash" id="vo"}
			<li>
				<a href="{:url('goods/detail','id='.$vo['goodsID'])}"><img src="{$vo.picname}">
				<light1><img src="{:RES}/image/saoguang.png"></light1>
				</a>
				<div class="price">
					<span>${$vo.price}</span>
					<b style="text-decoration: line-through">${$vo.marketPrice}</b>
					<b>约￥{$vo.rmb}</b>
				</div>
				<a href="{:url('goods/detail','id='.$vo['goodsID'])}"><p>{$vo.name}</p></a>
				<em>
					<a href="javascript:void(0)" class="add_fav" data-id="{$vo.goodsID}" data-url="{:url('goods/fav')}">收藏</a>
					<a href="javascript:void(0)" class="add_cart" data-id="{$vo.goodsID}" data-url="{:url('goods/addCart')}">加入购物车</a>
				</em>
			</li>
			{/volist}
		</ul>
	</div>
</div>

<!--婴儿奶粉-->
<span class="as blessing_package pick-back-c">
    <a href="#" style=" color:#000">
        <h3 style="float:left" class="pick-back3">婴儿奶粉</h3>
    </a>
    <div class="detailed_navigation">
        <ul>
        	{volist name="naifen" id="vo" key="k"}
            <li class="dog {eq name="k" value="1"}yadi{/eq}" dg-floor="2" dg-ct="lt0{$k}">{$vo.name}</li>
            {/volist}
        </ul>
    </div>
</span>

<div>
	{volist name="naifen" id="item" key="j"}
	<div class="currency f-2-lt0{$j}" {gt name="j" value="1"}style="display:none"{/gt}>
		<ul>
			{volist name="item.goods" id="vo"}
			<li>
				<a href="{:url('goods/detail','id='.$vo['id'])}"><img src="{$vo.picname}">
				<light1><img src="{:RES}/image/saoguang.png"></light1>
				</a>
				<div class="price">
					<span>${$vo.price}</span>
					<b style="text-decoration: line-through">${$vo.marketPrice}</b>
					<b>约￥{$vo.rmb}</b>
				</div>
				<a href="{:url('goods/detail','id='.$vo['id'])}">
					<p>{$vo.name}</p>
					<div class="say">{$vo.say}</div>
				</a>
				<div class="tag">
					<span class="layui-badge">推荐</span>
				</div>				
				<em>
					<a href="javascript:void(0)" class="add_fav" data-id="{$vo.id}" data-url="{:url('goods/fav')}">收藏</a>
					<a href="javascript:void(0)" class="add_cart" data-id="{$vo.id}" data-url="{:url('goods/addCart')}">加入购物车</a>
				</em>
			</li>
			{/volist}
		</ul>
	</div>
	{/volist}
</div>

<!--孕妈专区-->
<span class="as blessing_package pick-back-d">
    <a href="#" style=" color:#000">
        <h3 style="float:left" class="pick-back4">孕妈专区</h3>
    </a>
    <div class="detailed_navigation">
        <ul>
        	{volist name="yunma" id="vo" key="k"}
            <li class="dog {eq name="k" value="1"}yadi{/eq}" dg-floor="3" dg-ct="lt0{$k}">{$vo.name}</li>
            {/volist}
        </ul>
    </div>
</span>

<div>
	{volist name="yunma" id="item" key="j"}
	<div class="currency f-3-lt0{$j}" {gt name="j" value="1"}style="display:none"{/gt}>
		<ul>
			{volist name="item.goods" id="vo"}
			<li>
				<a href="{:url('goods/detail','id='.$vo['id'])}"><img src="{$vo.picname}">
				<light1><img src="{:RES}/image/saoguang.png"></light1>
				</a>
				<div class="price">
					<span>${$vo.price}</span>
					<b style="text-decoration: line-through">${$vo.marketPrice}</b>
					<b>约￥{$vo.rmb}</b>
				</div>
				<a href="{:url('goods/detail','id='.$vo['id'])}">
					<p>{$vo.name}</p>
					<div class="say">{$vo.say}</div>
				</a>
				<div class="tag">
					<span class="layui-badge">推荐</span>
				</div>				
				<em>
					<a href="javascript:void(0)" class="add_fav" data-id="{$vo.id}" data-url="{:url('goods/fav')}">收藏</a>
					<a href="javascript:void(0)" class="add_cart" data-id="{$vo.id}" data-url="{:url('goods/addCart')}">加入购物车</a>
				</em>
			</li>
			{/volist}
		</ul>
	</div>
	{/volist}
</div>

<!--中老年区-->
<span class="as blessing_package pick-back-e">
    <a href="#" style=" color:#000">
        <h3 style="float:left" class="pick-back5">中老年区</h3>
    </a>
    <div class="detailed_navigation">
        <ul>
        	{volist name="laonian" id="vo" key="k"}
            <li class="dog {eq name="k" value="1"}yadi{/eq}" dg-floor="4" dg-ct="lt0{$k}">{$vo.name}</li>
            {/volist}
        </ul>
    </div>
</span>

<div>
	{volist name="laonian" id="item" key="j"}
	<div class="currency f-4-lt0{$j}" {gt name="j" value="1"}style="display:none"{/gt}>
		<ul>
			{volist name="item.goods" id="vo"}
			<li>
				<a href="{:url('goods/detail','id='.$vo['id'])}"><img src="{$vo.picname}">
				<light1><img src="{:RES}/image/saoguang.png"></light1>
				</a>
				<div class="price">
					<span>${$vo.price}</span>
					<b style="text-decoration: line-through">${$vo.marketPrice}</b>
					<b>约￥{$vo.rmb}</b>
				</div>
				<a href="{:url('goods/detail','id='.$vo['id'])}">
					<p>{$vo.name}</p>
					<div class="say">{$vo.say}</div>
				</a>
				<div class="tag">
					<span class="layui-badge">推荐</span>
				</div>				
				<em>
					<a href="javascript:void(0)" class="add_fav" data-id="{$vo.id}" data-url="{:url('goods/fav')}">收藏</a>
					<a href="javascript:void(0)" class="add_cart" data-id="{$vo.id}" data-url="{:url('goods/addCart')}">加入购物车</a>
				</em>
			</li>
			{/volist}
		</ul>
	</div>
	{/volist}
</div>

<!--本周特价-->
<span class="as blessing_package pick-back-f">
    <a href="#" style=" color:#000">
        <h3 style="float:left" class="pick-back6">本周特价</h3>
    </a>
    <div class="detailed_navigation">
        <ul>
        	{volist name="tejia" id="vo" key="k"}
            <li class="dog {eq name="k" value="1"}yadi{/eq}" dg-floor="5" dg-ct="lt0{$k}">{$vo.name}</li>
            {/volist}
        </ul>
    </div>
</span>

<div>
	{volist name="tejia" id="item" key="j"}
	<div class="currency f-5-lt0{$j}" {gt name="j" value="1"}style="display:none"{/gt}>
		<ul>
			{volist name="item.goods" id="vo"}
			<li>
				<a href="{:url('goods/detail','id='.$vo['id'])}"><img src="{$vo.picname}">
				<light1><img src="{:RES}/image/saoguang.png"></light1>
				</a>
				<div class="price">
					<span>${$vo.price}</span>
					<b style="text-decoration: line-through">${$vo.marketPrice}</b>
					<b>约￥{$vo.rmb}</b>
				</div>
				<a href="{:url('goods/detail','id='.$vo['id'])}">
					<p>{$vo.name}</p>
					<div class="say">{$vo.say}</div>
				</a>
				<div class="tag">
					<span class="layui-badge">推荐</span>
				</div>				
				<em>
					<a href="javascript:void(0)" class="add_fav" data-id="{$vo.id}" data-url="{:url('goods/fav')}">收藏</a>
					<a href="javascript:void(0)" class="add_cart" data-id="{$vo.id}" data-url="{:url('goods/addCart')}">加入购物车</a>
				</em>
			</li>
			{/volist}
		</ul>
	</div>
	{/volist}
</div>

<!--推荐商品-->
<div class="as kongzhianniu">
	<div class="lunbobanner">
		<ul class="lunboimg">
			{volist name="slide" id="item"}
			<li>
				{volist name="item" id="vo"}
				<a href="{:url('goods/detail','id='.$vo['id'])}">
					<b><img src="{$vo.picname}"></b>
					<span>${$vo.price}</span>
					<p>{$vo.name}</p>
				</a>
				{/volist}
			</li>
			{/volist}
		</ul>
	</div>
	<div class="btnl"><i class="layui-icon layui-icon-left"></i></div>
	<div class="btnr"><i class="layui-icon layui-icon-right"></i></div>
	<h4 class="guanfangremai">推荐商品</h4>
</div>
{include file="public:footer" /}
</body>
</html>